body {
  background-color: #121212;
  font-family: "Inter", sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  padding: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

h1 {
  font-size: 32px;
}

.subtitle-container {
  text-align: left;
  margin-top: 65px;
}

button {
  background-color: #1ed760;
  /* color: #121212; */
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px; /* spacing between subtitle and button */
}

.section-title {
  text-align: left;
  margin-top: 70px;
}

.playlist {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.playlist-info {
  text-align: left;
  margin-left: 15px;
}

.navbar {
  margin-top: 45px;
}

.playlist-subtitle {
  color: grey;
}
